:root {
  --color-black: #000000;
  --color-mardi-gras: #290628;
  --color-indigo: #3B0086;
  --color-purple-heart: #6200B3;
  --color-alizarin: #ED1C24;
  --color-dark-gray: #A3A3A3;
  --color-panache: #EFF2ED;
  --color-lvory: #FFFFFC; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.wrapper {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/asoggetti-413830-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #6200B3 0%, #3B0086 100%);
    mix-blend-mode: color;
    opacity: .6; }
  .header__box {
    color: var(--color-black);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%); }
  .header__title {
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.3em; }
  .header__text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4.2rem; }
  .header::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25rem;
    background: var(--color-purple-heart);
    opacity: .9; }
  .header__testimonial {
    z-index: 10;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%); }
    .header__testimonial .quote {
      fill: var(--color-lvory); }
      .header__testimonial .quote__text {
        font-size: 3rem;
        text-align: center;
        color: #fff; }
      .header__testimonial .quote__by {
        font-size: 1.5rem;
        color: var(--color-lvory);
        margin-left: 35rem; }

.shape {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: -100; }
  .shape div {
    margin: 0 2rem; }
