:root {
    --color-black: #000000;
    --color-mardi-gras: #290628;
    --color-indigo: #3B0086;
    --color-purple-heart: #6200B3;
    --color-alizarin: #ED1C24;
    --color-dark-gray: #A3A3A3;
    --color-panache: #EFF2ED;
    --color-lvory: #FFFFFC;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}