.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/asoggetti-413830-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, #6200B3 0%, #3B0086 100%);
        mix-blend-mode: color;
        opacity: .6;
    }
    &__box {
        color: var(--color-black);
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
    }
    &__title {
        font-weight: 600;
        font-size: 4rem;
        text-align: center;
        letter-spacing: 0.3em;
    }
    &__text {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 4.2rem;
    }
    &__iphone-x {}
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25rem;
        background: var(--color-purple-heart);
        opacity: .9;
    }
    &__testimonial {
        z-index: 10;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        .quote {
            fill: var(--color-lvory);
            &__text {
                font-size: 3rem;
                text-align: center;
                color: #fff;
            }
            &__by {
                font-size: 1.5rem;
                color: var(--color-lvory);
                margin-left: 35rem;
            }
        }
    }
}

.shape {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: -100;
    div {
        margin: 0 2rem;
    }
}